

# filesystem i/o
python-magic
dateparser
pyyaml
pillow_heif  # for .heif images

# for operating system
psutil

# meilisearch
meilisearch
pandas

# for services
docker
flask
flask-RESTful
flask_cors
requests
shiny
urllib3
